<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jwy.mapper.BoardMapper">
	  <insert id="insertBoard">
	  	insert into tbl_board(title, content, writer) values(#{title}, #{content}, #{writer})
	  </insert>
	  
	  <select id="readBoard" resultType="com.jwy.domain.BoardVO">
	  	select * from tbl_board where no = #{no}
	  </select>
	  
	  <update id="updateBoard">
	  	update tbl_board set title=#{title}, content=#{content} where no=#{no}
	  </update>
	  
	  <update id="deleteBoard">
	  	update tbl_board set isdelete='Y' where no=#{no}
	  </update>
	  
	  <select id="listBoard" resultType="com.jwy.domain.BoardVO">
	  	select * from tbl_board order by no desc
	  </select>
	  
<!-- 	  페이징 #{page}부터 10개씩 출력 -->
	  <select id="listBoardPaging" resultType="com.jwy.domain.BoardVO">
	  	select * from tbl_board order by no desc limit #{page}, 10;
	  </select>
	  
<!-- 	  페이징 제약 조건(PagingCriteria 를 이용한 페이징) -->
	  <select id="listBoardCriteria" resultType="com.jwy.domain.BoardVO">
	  	select * from tbl_board order by no desc limit #{pageStart}, #{perPageNum}
	  </select>
	  
	  <select id="getTotalBoardCnt" resultType="int">
	  	select count(*) from tbl_board
	  </select>
	  
	  <select id="searchBoard" resultType="com.jwy.domain.BoardVO">
	  	select * from tbl_board where
	  	<if test="searchType == 'title'">
	  		title like concat('%', #{searchWord}, '%')
	  	</if>
	  	<if test="searchType == 'content'">
	  		content like concat('%', #{searchWord}, '%')
	  	</if>
	  	<if test="searchType == 'writer'">
	  		writer like concat('%', #{searchWord}, '%')
	  	</if>
	  	order by no desc
	  </select>
	  
<!-- 	  답글이 달렸을 때 replycnt 증가 -->
	  <update id="updateReplyCnt">
	  	update tbl_board set replycnt = replycnt + #{amount} where no = #{no}
	  </update>
	  
<!-- 	  조회수 증가 -->
	  <update id="updateViewCnt">
	  	update tbl_board set viewcnt = viewcnt + 1 where no = #{no}
	  </update>
  </mapper>