<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jwy.mapper.UserMapper">
  	<select id="login" resultType="com.jwy.domain.UserVO">
  		select * from tbl_user where uid=#{uid} and upw=#{upw}
  	</select>
  	
  	<update id="keepLogin">
  		update tbl_user set sesKey = #{sesId}, sesdeadline = #{cookieAge} where uid = #{uid}
  	</update>
  	
  	<select id="checkUserWithSesKey" resultType="com.jwy.domain.UserVO">
  		select * from tbl_user where sesKey = #{sesKey} and sesdeadline > now()
  	</select>
  </mapper>